@using CardGames.Core.Uno

<div class="uno-card" @onclick="@(OnClick)">
</div>

@code {

	[Parameter] public required Card Card { get; set; }

	[Parameter] public System.Action<Card>? OnCardClick { get; set; }

	private void OnClick() =>
		OnCardClick?.Invoke(Card);

}
